<!DOCTYPE html>
<html>
<head>
  <title>openETCS - {{ page.title }}</title>

  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="keywords" content="etcs, openetcs, openproof" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="shortcut icon" href="/images/favicon.png" />

  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css'/>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/css/font-awesome.css"/>
  <link rel="stylesheet" type="text/css" href="/css/layout.css" />
  <link rel="stylesheet" type="text/css" href="/css/blog.css" />
  <link rel="stylesheet" type="text/css" href="/css/content.css" />
  <link rel="stylesheet" type="text/css" href="/css/layout-responsive.css" />

  <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/jquery.zrssfeed.min.js"></script>
  <script type="text/javascript" src="/js/menu.js"></script>

</head>
<body>
  <div id="header">
    <div id="header-top-row">
      <div class="container">
        <div class="row">
          <div class="span2 offset1">
            <a href="/"><img src="/images/logos/openetcs2.png" alt="Open ETCS Logo"/></a>
          </div>
          <div id="menu" class="span7 offset1">
            <ul id="navigation">
              
              <li>
                <a href="http://openetcs.org">
                  <h3>home</h3>
                </a>
               <ul class="second-level-nav">
                  <li>
                    <a href="https://github.com/openETCS/FPP4openETCS2Pro">
                      FPP4openETCS2Pro
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/openETCS/ITEA3-follow-up">
                      ITEA3-follow-up
                    </a>
                  </li>
                  <li>
                    <a href="/projects">
                      projects
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/openETCS/governance/wiki/State-of-Deliverables">
                      progress and deliverables
                    </a>
                  </li>
                </ul>
              </li>
              
              <li>
                <a href="/principles">
                  <h3>principles</h3>
                </a>
               <ul class="second-level-nav">
                  <li>
                    <a href="/principles">
                      open source
                    </a>
                  </li>
                  <li>
                    <a href="/principles/resources">
                      resources
                    </a>
                  </li>
                </ul>
              </li>
              
              <li>
                 <a href="/members">
                  <h3>members</h3>
                </a>
              </li>
              <li>
                 <a href="/tool">
                  <h3>tool</h3></h3>
                </a>
              </li>

              <li>
                 <a href="http://www.twitter.com/openetcs">
                  <h3>community</h3>
                 </a>
                 <ul class="second-level-nav">
                   <li>
                     <a href="http://www.github.com/openetcs">
                     github
                     </a>
                   </li>
                   <li>
                     <a href="http://www.twitter.com/openetcs">
                     twitter
                     </a>
                   </li>
                   <li>
                     <a href="https://www.youtube.com/user/openETCS">
                     youtube
                     </a>
                   </li>
                   <li>
                     <a href="/calendar">
                     calendar
                     </a>
                   </li>
                 </ul>
              </li>
              
              <li>
                 <a href="/about">
                  <h3>about</h3>
                 </a>
                 <ul class="second-level-nav">
                   <li>
                     <a href="/about">
                     who we are
                     </a>
                   </li>
                   <li>
                     <a href="/contact">
                     contact
                     </a>
                   </li>
                 </ul>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div id="content" class="span10 offset1">
        {{ content }}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div id="footer" class="span10 offset1">
        <ul id="footernav">
          <li><a href="/about">About</a></li>
          <li><a href="/termsofuse">Terms of Use</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <span id="copyright"> &copy; 2012 openETCS </span>
      </div>
    </div>
  </div>

</body>
</html>
